name: CI

on:
  merge_group: # GitHub Merge Queue
  pull_request:
  push:
    branches:
      - master
    tags: '*'
  workflow_dispatch:

concurrency:
  group: integration-tests-global-lock
  cancel-in-progress: ${{ (github.ref == 'refs/heads/staging') || (github.ref == 'refs/heads/trying') }}

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    #
    # Because we use GitHub Merge Queue,
    # the job name of the integration tests
    # can't interpolate any info like
    # Julia version number, or operating system.
    # This constraint applies only to the integration tests.
    #
    # Other jobs (like unit tests, and docs)
    # can have whatever names they want.
    name: Integration
    #
    # We don't actually want to run integration tests on pull requests,
    # because we want to avoid hitting rate limits.
    # So, if this is a PR build, mark the integration tests as "skipped".
    if: github.event_name != 'pull_request'
    strategy:
      fail-fast: false
      max-parallel: 1
      # Note: Because we want to use GitHub Merge Queue,
      # we can't use a matrix for the integration tests.
      # This constraint applies only to the integration tests.
      #
      # We can still use a matrix for other jobs,
      # such as unit tests and docs.
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - run: git config --global user.name "Dilum Aluthge"
      - run: git config --global user.email "dilum@aluthge.com"
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          JULIA_DEBUG: 'BumpStdlibs'
          BUMPSTDLIBS_TOKEN_FOR_TESTS: ${{ secrets.BUMPSTDLIBS_TOKEN_FOR_TESTS }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - run: |
          julia --project=docs --color=yes -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: |
          julia --project=docs --color=yes -e '
            using Documenter: doctest
            using BumpStdlibs
            doctest(BumpStdlibs)'
      - run: julia --project=docs --color=yes docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
